@font-face {
    font-family: opensans;
    src: url(../media/fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: animoto;
    src: url(../media/fonts/animoto.woff);
}

@font-face {
    font-family: babymoto;
    src: url(../media/fonts/babymoto.woff);
}
html {
    font-size: unset !important;
    scroll-behavior: smooth;
}

body {
    --textCol: #000;
    --mainCol: #000;
    --subCol: #b1b1b1;

    --lineW: 1px;

    background-color: transparent;
    color: var(--textCol);
    position: relative;
    overflow-y: scroll;
    margin: 2em 2em 2em 2em;
}

::selection {
  background: var(--subCol);
}


/* divs */
.container {
    display: block;
    text-align: justify;
    border-style: solid;
    border-width: var(--lineW);
    border-radius: 8em;
    border-color: var(--subCol);
    background-color: transparent;
    background-size: 4px;
    margin: auto;
    margin-top: 2em;


}



.index {
    display: block;
    text-align: justify;
    margin: auto;
    padding: 5em 2em 4em 2em;


    font-size: 14px;
    font-family: opensans;
    line-height: 24px;
    word-wrap: break-word;
    overflow: auto;
}

/* text/media style */
h1 {
    font-weight: normal;
    font-family: animoto;
    font-size: 16px;

    color: var(--textCol);

}


ul {
    list-style-type: none;
    padding-left: 4em;
    padding-right: 4em;
    border-left: var(--lineW) solid;
    border-right: var(--lineW) solid;
    border-color: var(--subCol);

}
li {
    margin-bottom: 0.25em;
}

li:before {
    content: none;
    padding-right: 1em;
}

li:hover {

}

a {

    text-decoration: none;
    background-color: transparent;
    border-radius: 1em;
    color: var(--textCol);
    border: solid 1px transparent;
    padding: 0.5em;
}

a:active, a:hover {
    transition: 0.15s;
    border: solid 1px var(--subCol);
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background: var(--mainCol);
}

p {
    border-left: var(--lineW) solid;
    border-right: var(--lineW) solid;
    padding-left: 2em;
    padding-right: 2em;
    border-color: var(--subCol);
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 50%;

}

/* flex */

.flex-container {
    display: flex;
    flex-wrap: wrap;



    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;

    padding: 2em 2em 2em 2em;
    margin-bottom: 3em;

    border-left: var(--lineW) solid;
    border-right: var(--lineW) solid;
    border-bottom: var(--lineW) solid;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    border-color: var(--subCol);
}

.flex-cell {
    text-align: justify;
    flex-grow: 1;
    margin: 1em;
    padding: 2em;

    border-radius: 2.5em;
    border: solid var(--lineW);

    border-color: var(--subCol);
    box-shadow: none
}

.flex-cell:hover {

}

.break {
    flex-basis: 100%;
    height: 0;
}

/* device scaling */
@media (min-aspect-ratio: 1/1) {
    .container {
        width: 50%;
    }
}

@media (max-aspect-ratio: 9/10) {
    .container {
        width: 90%;
    }

    .index {
        font-size: 16px;
    }
    .flex-container {
        font-size: 16px;
    }
}
