@font-face {
    font-family: opensans;
    src: url(../media/fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: animoto;
    src: url(../media/fonts/animoto.woff);
}

@font-face {
    font-family: babymoto;
    src: url(../media/fonts/babymoto.woff);
}
html {
    scroll-behavior: smooth;
}

body {
    --textCol: #000;
    --mainCol: #000;
    --subCol: #b1b1b1;

    --lineW: 1px;

    background-color: transparent;
    color: var(--textCol);
    position: relative;
    overflow-y: scroll;
    margin: 2em 2em 2em 2em;
    font-size: 14px;
    font-family: opensans;

}

::selection {
  background: #efefef;
}


/* divs */
.container {
    display: flex;
    text-align: justify;
    border-style: solid;
    border-width: var(--lineW);
    border-radius: 12em;
    border-color: var(--subCol);
    background-color: transparent;

    margin: auto;
    margin-top: 2em;

    width:50%;

}

.index {
    display: block;
    text-align: justify;
    margin: auto;
    padding: 2em;
    padding-top: 3em;

    line-height: 24px;
    word-wrap: break-word;
    overflow: auto;
}

/* text/media style */
h1 {
    font-weight: normal;
    font-family: animoto;
    font-size: 16px;

    color: var(--textCol);

}


ul {
    list-style-type: none;
    padding-left: 4em;
    padding-right: 4em;
    border-left: var(--lineW) solid;
    border-right: var(--lineW) solid;
    border-color: var(--subCol);

}
li {
    margin-bottom: 0.25em;
}

li:before {
    content: none;
    padding-right: 1em;
}

li:hover {

}

a {
    text-decoration: none;
    color: white;
    border-radius: 0.75em;
    padding: 0.25em 0.75em 0.5em 0.75em;
    border-style: solid;
    border-width: var(--lineW);
    border-radius: 12em;
    border-color: var(--subCol);

}

a:active, a:hover {
    transition: 0.25s;
    color: var(--textCol);
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background: var(--subCol);
}

p {
    border-left: var(--lineW) solid;
    border-right: var(--lineW) solid;
    padding-left: 2em;
    padding-right: 2em;

    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-color: var(--subCol);
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 50%;
}

/* flex */

.flex-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;

    padding: 1em 2em 3em 2em;

    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;

    border-left: var(--lineW) solid;
    border-right: var(--lineW) solid;
    border-bottom: var(--lineW) solid;
    border-bottom-left-radius: 7em;
    border-bottom-right-radius: 7em;
    border-color: var(--subCol);
}

.flex-cell {
    transition: 0.25s;
    text-align: justify;
    flex-grow: 0;
    margin: 1em;
    padding: 1em;
    padding-bottom: 3em;

    border-radius: 5em;
    border-top-right-radius: 5em;
    border: solid var(--lineW);

    border-color: var(--subCol);
}

.flex-cell:hover {
    transition: 0.25s;
    border-top-right-radius: 1em;

}

.flex-cell>a {
    text-decoration: none;
    background-color: transparent;
    border-radius: 3em;
    color: var(--textCol);
    border: solid 1px #efefef;
    padding: 0.5em 1.5em 0.75em 1.5em;
}

.flex-cell>a:active, .flex-cell>a:hover {
    transition: 0.25s;
    border: solid 1px var(--subCol);
}


.break {
    flex-basis: 100%;
    height: 0;
}
